body {
    margin: 5ch;
    padding: 7ch;
    background-color: rgb(225, 161, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    
}

.rounded {
    counter-reset: li; 
    list-style: none; 
    font: 3rem "Trebuchet MS", "Lucida Sans";
    padding: 1rem;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
.rounded a {
    position: relative;
    display: block;
    padding: .2em .2em .2em .2em;
    margin: 1em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}