body {
    margin: 0ch;
    padding: 0ch;
    height: 400px;
    background-color: lightpink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn {
    background-color: #ab437c;
    color: rgb(66, 10, 10);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    
}